<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style/hyperspace.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="js/hyperspace.js" lang="javascript" defer></script>

    <meta name="title" content="cans.ie">
    <meta name="description" content="black and cans">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cans.ie/">
    <meta property="og:title" content="cans.ie">
    <meta property="og:description" content="black and cans">
    <meta property="og:image" content="https://cans.ie/cans.ie_logo.png">

    <title>cans</title>
</head>

<body>
    <img src="cans/<%= can %>.webp" class="center-image" alt="CANS!!!">

    <audio id="hyperspace-audio">
        <source src="audio/shooting_stars.mp3" type="audio/mpeg">
    </audio>

    <footer class="site-footer">
        <a href="https://paradaux.io" target="_blank">paradaux.io</a>
        <span class="separator">|</span>
        <a href="https://github.com/ParadauxIO/cans.ie" target="_blank">sauce</a>
    </footer>
</body>
</html>